@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i");

.toast__container {
  position: absolute;
  z-index: 1055;
  right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: right;
  text-align: center;
  font-family: "Raleway", sans-serif;
}

.toast__cell {
  display: inline-block;
}

.add-margin {
  margin-top: 20px;
}

.toast {
  text-align: left;
  padding: 10px 0;
  background-color: #fff;
  border-radius: 4px;
  min-width: 400px;
  max-width: 500px;
  top: 0px;
  position: relative;
  box-shadow: 1px 7px 14px -5px rgba(0, 0, 0, 0.2);
}

.toast:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.toast__icon {
  position: absolute;
  display: block;
  top: 50%;
  left: 22px;
  transform: translateY(-50%);
  padding: 7px;
  border-radius: 50%;
  display: inline-block;
  display: block;
  font-size: 24px;
}

.toast__type {
  color: #3e3e3e;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 8px;
}

.toast__message {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 0;
  color: #878787;
}

.toast__content {
  padding-left: 70px;
  padding-right: 60px;
}

.toast__close {
  position: absolute;
  display: block;
  right: 22px;
  top: 50%;
  font-size: 20px;
  cursor: pointer;
  fill: #878787;
  transform: translateY(-50%);
}

.toast__close i {
  display: block;
  font-size: 24px;
}

.toast--success .toast__icon {
  color: #2bde3f;
}

.toast--success:before {
  background-color: #2bde3f;
}

.toast--error .toast__icon {
  color: #ff623d;
}

.toast--error:before {
  background-color: #ff623d;
}

.toast--warning .toast__icon {
  color: #ffc007;
}

.toast--warning:before {
  background-color: #ffc007;
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(calc(100% + 32px));
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
